{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script rel="stylesheet" href="https://cdjns.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/stylelab9.css' %}">
	<title>List of Books</title>
</head>
<body>
	{% if user.is_authenticated %}
		<div class="text-right" style="font-family: 'Signika', sans-serif; padding-right: 50px;">
			<br>
			<h3>Welcome, {{ user.first_name }} {{ user.last_name }}!</h3>
			<button class="btn btn-danger"><a href="{% url 'logout' %}" style="color: white">Logout</a></button>
		</div>
	{% else %}
	<div class="text-right" style="font-family: 'Signika', sans-serif; padding-right: 50px;">
		<br>
		<button class="btn btn-danger"><a href="{% url 'social:begin' 'google-oauth2' %}" style="color: white">Login with Google</a></button>
		<br>
	</div>
	{% endif %}
	<div class="container">
		<h1 style="text-align: center;">List of Books</h1>
		<br>
		<br>
		<div class="text-center">
			<input type=text id="searchbar" class="textbox">
			<br>
			<br>
			<button class="btn btn-dark" id="caribtn" onclick="cari()">Search!</button>
		</div>
		<div class="text-right">
			<h2 id="statusBuku"><i class='fa fa-heart'style = 'color : red'></i> {{ count }}</h2>
			<table class="table table-dark table-bordered table-hover table-responsive-md table-condensed table-secondary" id="head-content"></table>	
		</div>
		<div class="link">
			<a href="{% url 'status' %}" style="color: white; text-align: center;">Make a Status!</a>
			<br>
			<a href="{% url 'profile' %}" style="color: white; text-align: center;">See My Profile!</a>
		</div>
		<br>
	</div>

	<script src="{%static 'js/lab9.js'%}"></script>
</body>
</html>