{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/lab10.css' %}">
	<title>Kayza's Profile</title>
</head>
<body>
	<div id="preloader">
        <div class="spinner"></div>
    </div>

	<div class="container">
		<div class="row">
			<div class="col-sm-12" id="iseng">
				<img src="https://pbs.twimg.com/profile_images/1032969675234136065/w8YTwzi6_400x400.jpg" style="border-radius: 80px; height: 250px; width: 250px" class="center">
				<br>
				<h1> My Profile </h1>
				<hr>
				<p>
					Annisaa Kayza Adisti
					<br>
					1706025106
					<br>
					Born in Jakarta, November 16 1999
					<br>
					Movies and Dramas enthusiast
				</p>
				<button type="button" class="btn btn-dark">Change Theme!</button>
				<button type="button" class="btn btn-dark"><a href="{% url 'subscribe' %}" style="color: white;">Subscribe Me!</a></button>
				<button id="subscribers" class="btn btn-dark"><a href="{% url 'subscribers' %}" style="color: white;">Subscribers</a></button>
				<br>
				<br>
				<a href="{% url 'status' %}" style="color: black; text-align: center;">Make a Status!</a>
				<br>
				<a href="{% url 'books' %}" style="color: black; text-align: center;">List of Books</a>
			</div>

			<div class="accordion">
				<h1 class="head-accordion">About Me</h1>
			  <button class="accordion-toggle">Activity</button>
			  <div class="accordion-content">
			  	<br>
			    <p>2nd year Information System Student at Fasilkom UI</p>
			    <p>Interest in developing my skill in web programming and business development</p>
			  </div>
			  <button class="accordion-toggle">Experiences</button>
			  <div class="accordion-content">
			    <p>
			    	<br>
			    	2018<br>BEM Fakultas Ilmu Komputer Universitas Indonesia<br>Human Resource Development Bureau Staff<br>
			    	<hr>
			    	2018<br>Open House Fasilkom UI 2018<br>Event Staff<br>
			    	<hr>
			    	2018<br>COMPFEST X<br>Fundraising Staff<br>
			    	<hr>
			    	2018<br>Wisuda Genap Fasilkom UI 2018<br>Vice Person in Charge of Creative<br>
			    	<hr>
			    	2018<br>Wisuda Ganjil Fasilkom UI 2018<br>Creative Staff<br>
			    	<hr>
			    	2017 - 2018<br>25th Computers Get Together<br>Fundraising Staff<br>
			    	<hr>
			    	2015 - 2016<br>TRASET (Tradisional Saman Empat Tujuh)<br>Member<br>
			    	<br>
			    </p>
			  </div>
			  <button class="accordion-toggle">Achievements</button>
			  <div class="accordion-content">
			    <p>
			    	<br>
			    	2016<br>Lomba Ratoeh Jaroe MA Pembangunan UIN Jakarta<br>Juara 3<br>
			    	<hr>
			    	2016<br>Lomba Ratoeh Jaroe SMA Pembangunan Jaya<br>Juara Harapan 1<br>
			    	<hr>
			    	2015<br>Lomba Ratoeh Jaroe MAN Insan Cendikia<br>Juara 1<br>
			    	<hr>
			    	2015<br>Lomba Ratoeh Jaroe Universitas Mercu Buana<br>Juara Harapan 1<br>
			    	<br>
			    </p>
			  </div>
			</div>
		</div>
	</div>
	<br>
	<br>
    <script src="{%static 'js/lab8.js'%}"></script>
</body>
</html>