{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% load crispy_forms_tags %}
    <style>
        .col-md-12{
            background-color: rgb(255,153,204); /* Fallback color */
            background-color: rgba(255,153,204, 0.7);
            border-radius: 36px;
            margin-top: 20px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 30px;
            padding-right: 30px;
            font-family: 'Bree Serif', serif;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
	<title>Enter your Status!</title>
</head>

<body>
    <h1 class="title">Hello, Apa kabar?</h1>
    {% block content %}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12">
                    <section name="form">
                        <div class="page-header">
                            <h2>How's your day?</h2>
                        </div>
                        
                        <br>
                        <form method="POST" action="/">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input id="submit" type="submit" value="Submit" class="btn btn-success">
                            <br>
                            <br>
                            <a href="{% url 'profile' %}" style="color: black; text-align: center;">See my Profile!</a>
                            <br>
                            <a href="{% url 'books' %}" style="color: black; text-align: center;">See List of Books!</a>
                        </form>
                    </section> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12">
                    <h2 id="status">Status</h2>
                    <br>
                    <table>
                            {% if isi_status %}
                                {% for status in isi_status %}
                                <div id="stat" class="alert alert-dark" role="alert">
                                   {{ status.isi_status }}
                                </div>
                                {% endfor %}  
                            {% else %}
                                <h5>No status added</h5>
                            {% endif %}     
                    </table>
                </div> 
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>