{% load static %}
<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.29.0/dist/sweetalert2.all.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/lab10.css' %}">
	<title>Kayza's Subscribers</title>
</head>
<body>
	<div class="container">
		<h1 class="text-center">My Subscribers</h1>
		<br>
		<br>
		<div class="row">
			
			<div class="col-md-12" id="subscriberss"></div>
		</div>
	</div>
	<script>
		$(document).ready(function(){
			$.ajax({
				url:"/allSubscribers",
				method: 'GET',
				dataType: 'html',
				success: function(data){
					var parse = JSON.parse(data);
					console.log(parse);
					for(i=0; i<parse.length; i++){
						var card = "<div id=\"" + parse[i].fields.email + "\" class=\"card\" style=\"width: 30rem;\"><div class=\"card-body\"><h5 class=\"card-title\">" + parse[i].fields.name + "</h5><button type=\"button\" class=\"unsubs btn btn-danger\">Unsubscribe</button></div></div><br>";
						$("#subscriberss").append(card);
					}
					$(".unsubs").each(function(){
						$(this).click(function(){
							var emails = $(this).closest('.card').attr('id');
							console.log(emails);
							$.ajax({
								url: "/deleteSubscribers",
								data: {email:emails},
								method: 'POST',
								dataType: 'json',
								success: function(){
									swal({
										title: "Success!",
										text: "You can subscribe again later",
										type: 'success',
										showConfirmButton: false,
										timer: 2500
									}).then(function(){
										window.location = "/subscribers"
									});
								}
							});
						});
					});
				}
			});
		});
	</script>
</body>
</html>